/* main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-base {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.85);
}

.shadow-main {
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.85);
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  src: url('../assets/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
  font-family: 'Archivo';
  background: purple;
}

:root {
  --slider-connect-bg: #000;
  --slider-tooltip-bg: #000;
  --slider-handle-ring-color: #000;
  --slider-handle-ring-color: #000;
  --slider-handle-bg: #000;
  --slider-handle-radius: 8px;
}

button {
  transition: all;
  @apply text-xs md:text-base select-none;
}

button:active {
  @apply translate-y-[3px];
  box-shadow: unset;
}

.vc-color-wrap.transparent {
  width: 100% !important ;
  height: 100% !important ;
}
