/* main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  src: url('../assets/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
  font-family: 'Archivo';
  background: purple;
}

:root {
  --slider-connect-bg: #000;
  --slider-tooltip-bg: #000;
  --slider-handle-ring-color: #000;
}
