/* main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-base {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.85);
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  src: url('../assets/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
  font-family: 'Archivo';
  background: purple;
}

:root {
  --slider-connect-bg: #000;
  --slider-tooltip-bg: #000;
  --slider-handle-ring-color: #000;
  --slider-handle-ring-color: #000;
  --slider-handle-bg: #000;
  --slider-handle-radius: 4px;
}

#preview {
  min-height: 125px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 960px) {
  #preview {
    min-height: 250px;
  }
}

.colorPicker {
  @apply absolute inset-0 mt-0 appearance-none border-0 p-0 m-0;
  border: 0;
  /* width: 110%; */
  /* left: -2%; */
  height: 100%;
  width: 100%;
  appearance: auto;
  background-color: transparent;
  border: initial;
  outline: initial;
  color: initial;
}

.shadow-main {
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.85);
}

button {
  transition: all;
  @apply text-xs md:text-base select-none;
}

button:active {
  @apply translate-y-[3px];
  box-shadow: unset;
}
